* {
    margin: 0;
    padding: 0;
}

.top-navbar {
    height: 61px;
    background-color: dodgerblue;
    color: white;
}

.wrap {
    display: flex;
}

.sidebar {
    width: 251px;
    height: calc(100vh - 61px);
    background-color: blue;
    color: white;
}

.menu {
    margin: 25px;
    list-style: none;
}

.menu .item-menu {
    margin-top: 15px;
    margin-bottom: 15px;
}

.menu .item-menu a {
    color: white;
    text-decoration: none;
}

.content {
    background-color: #f2f2f2;
    width: 100%;
    padding: 25px;
}

.title {
    margin-bottom: 15px;
}

.card {
    min-height: 8rem;
    background-color: white;
    border: solid 1px #d3d3d3;
}